.card_container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.card {
	display: flex;
	height: 250px;
	width: 400px;
	margin: 20px;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

	.card_img_container {
		height: 100%;
		width: 200px !important;
		cursor: pointer;
		overflow: hidden;
		.card_img {
			height: 100%;
			transition: all 0.15s ease-in;
			&:hover {
				transform: scale(1.07);
			}
		}
	}

	.card_details {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		padding: 10px;
		width: 70%;
		background: #eeeec6;
		.title {
			color: coral;
			font-size: 20px;
			font-weight: 700;
			text-decoration: none;
			font-style: oblique;
			cursor: pointer;
			transition: all 0.2s ease-in-out;
			&:hover {
				color: brown;
			}
		}
		.description {
			cursor: pointer;
			line-height: 20px;
			font-size: 15px;
			color: #6b6868;
		}
	}
}

@media (max-width: 500px) {
	.card {
		flex-direction: column;
		width: 300px;
		height: 500px;
		margin: 20px 0;
		.card_img_container {
			background: #000;
			height: 500px;
			width: 100% !important;
			.card_img {
				width: 100%;
			}
		}
		.card_details {
			width: 100%;
		}
	}
}
