header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 10vh;
	padding: 0 10px;
	div,
	a,
	a:active,
	a:visited {
		text-decoration: none;
		color: #fff;
		cursor: pointer;
		padding: 5px 10px;
		border-radius: 4px;
		background: #000;
		font-weight: 700;
		font-size: 20px;
		transition: all 0.1s ease-in-out;
		&:hover {
			transform: scale(1.05);
		}
	}
	div {
		font-size: 16px;
		&:hover {
			transform: scale(1);
		}
	}
}
