form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 70%;
	.input,
	button {
		padding: 5px;
		margin: 5px;
		width: 300px;
	}
	button {
		width: 100px;
	}
}
.form_container {
	height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	h1 {
		margin: 20px 0;
	}
}
