.singlePost {
	margin-top: 10px;
	min-height: calc(90vh - 10px);
	width: 100%;
	border-radius: 20px;
	position: absolute;
	filter: blur(10px) brightness(1);
	z-index: -100;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 0.3s ease-in-out;
}
.singlepost_detail_container {
	display: flex;
	justify-content: space-around;
	align-content: center;
	min-height: calc(90vh - 10px);
	flex-wrap: wrap;
	.singlePost_img {
		margin: 0px 50px;
		border-radius: 20px;
		height: 400px;
		width: fit-content;
	}

	.singlePost_description {
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		.description {
			margin: 10px 50px;
			width: 300px;
			max-height: 400px;
			border-radius: 10px;

			font-size: 20px;
			z-index: 100;
			background: rgba(22, 22, 22, 0.623);
			color: rgb(229, 253, 239);
			height: max-content;
			line-height: 25px;
			padding: 20px 10px;
		}
	}
}
.back-btn {
	position: absolute;
	top: calc(10vh + 30px);
	background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIEWeFhpl_x0QBuSwU_WwCa9c_tk5jlv3kejOR_ixdSGL3uv4PKBvor8l9u6A2GWP4cAQ&usqp=CAU');
	cursor: pointer;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	left: 30px;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	background-color: #fff;
}
